@media only screen and (min-width: 576px) and (max-width: 992px) {
	.container{
		max-width: 100% !important;
	}
	.collapse{
		display: none;
	}
	.nav-bar{
		display: flex !important;
		flex-wrap: nowrap !important;
		margin: 0 !important;
	}
	.dropdown-item{
		font-size: 14px;
	}
	.carousel2 .item{
		padding: 0;
	}
	.carousel-caption{
	position: absolute;
	max-width: 42%;
	left: 4.6% !important;
	width: 660px;
	top: 20%;
	text-align: left;
}
.carousel-caption h1{
	font-family: 'Poppins', sans-serif;
	text-align: left;
	font-size: 28px;
	font-weight: 700;
	color: black;
	margin-bottom: 15px;
}
.carousel-caption p{ 
	font-family: 'Poppins', sans-serif;
	text-align: left;
	padding: 0;
	margin-bottom: 15px !important;
	font-size: 15px;
	color: black;
}
.btn_shopnow{
	position: absolute;
	left: 0;
	width: 130px;
	padding: 2px 15px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #ef8b59;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 15px;
}
	/*SECTION-3*/
	.section-3{
		padding-bottom: 40px !important;
	}
	.item {
		padding: 0 5px;
	}
	.section-3 h1{
	padding-top: 15px !important;
	font-size: 20px;
	text-align: center;
	}
	.section-3 h6{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 12px !important;
	color: #a3a3a3;
	font-weight: 400;
	margin: 0;
	}
	.hr{
		margin: 25px auto;
	}
	.gallery {
		padding: 40px 0;
		/*padding-left: 120px !important;
		grid-template-rows: repeat(40, 5vw);*/
	}
	/*section-4*/
	.gallery__item--1 {
	  grid-column-start: 1;
	  grid-column-end: 9;
	  grid-row-start: 1;
	  grid-row-end: 10;
	}

	.gallery__item--2 {
	  grid-column-start: 1;
	  grid-column-end: 5;
	  grid-row-start: 10;
	  grid-row-end: 20;
	}

	.gallery__item--3 {
	  grid-column-start:5;
	  grid-column-end: 9;
	  grid-row-start: 10;
	  grid-row-end: 20;
	}

	.gallery__item--4 {
	  grid-column-start: 1;
	  grid-column-end: 5;
	  grid-row-start: 20;
	  grid-row-end: 30;
	}

	.gallery__item--5 {
	  grid-column-start: 5;
	  grid-column-end: 9;
	  grid-row-start: 20;
	  grid-row-end: 30;
	}

	.gallery__item--6 {
	  grid-column-start: 1;
	  grid-column-end: 9;
	  grid-row-start: 30;
	  grid-row-end: 40;
	}
	/*section-5*/
	.section-5 h1{
		font-size: 20px;
		    padding-top: 15px !important;
	}
	.section-5 h6{
		font-size: 12px;
	}
	/*section-6*/
	.section-6{
		padding-top: 40px !important;
	}
	.modern{
		padding: 40px 40px 0 40px;
	background-color: #ef8b59
	}
	.modern p{
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: left;
		padding-bottom: 40px;
	}
	/*section-7*/
 	.img-top{
		object-fit: cover;
	height: 240px;
}
	.section-7 h1{
		    padding-top: 40px !important;
		font-size: 20px;
	}
	.section-7 h6{
		font-size: 12px;
	}
	.img-small {
    position: absolute;
    border-radius: 50%;
    top: 46%;
    left: 10%;
    width: 45px !important;
	}
	.card-title1{
		font-size: 12px;
	padding-left: 10%;
	text-align: left;
	font-family: 'Nunito Sans', sans-serif !important;
	padding-top: 30px !important;
	padding-bottom: 10px !important;
	color: #5b5b5b;
}
.card-title2{
	padding-left: 10%;
	text-align: left ;
	font-size: 13px;
	font-weight: 600;
	margin: 0;
	font-family: 'Montserrat', sans-serif !important;
	padding-bottom: 10px !important;
	color: #151515;
}
.card-text1{
	padding: 0 20px 0 10%;
    font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	color: #929292;
}
.card-text2{
	font-size: 20px;
	font-weight: 700;
	font-family: 'Nunito Sans', sans-serif !important;
	border-top: 2px solid #d8d8d8;
	padding: 20px 0 20px 30px;
	color: #e73100;
}
.latest{
	position: relative;
	padding-right: 10px;
}
		/*section-8*/
		.section-8 h1 {
			padding-top: 40px;
    font-size: 20px;
    text-align: center;
}
	.section-8 h6 {
    font-size: 12px;
}
	.slider .carousel8 .owl-stage {
    padding-top: 150px;
    height: 460px;
}
	.item2{
		width: 40px !important;
		height: 40px;
		left: 49.5%;
		transform: translate(-50%,50%);
		margin: 0;
	}
	.item3{
		font-size: 20px;
		transform: translate(0%,15%);
		padding: 0 20px;
	}
	.avatar2{
		width: 55px !important;
		height: 50px;
		top: 79%;
		left: 50%;
		transform: translate(-50%,50%);
	}
	.carousel8 .owl-nav.disabled {
		text-align: center;
		color: #ef8b59;
	}
	.carousel8 .owl-nav.disabled .owl-prev{
		color: #ef8b59;
		margin-right: 5px;
	}
	.carousel8 .owl-nav.disabled .owl-next{
		color: #ef8b59;
		margin-left: 5px;
	}

	/*section-9*/
	.section-9 h1 {
			padding-top: 40px;
    font-size: 20px;
    text-align: center;
	}
		.section-9 h6 {
	    font-size: 12px;
	}
	.input-group{
		padding-bottom: 40px;
	}
	.input-group .btn{
		width: 100px;
		padding: 0;
	}
	.form-control{
		height: 40px;
	}
	.btn{
		height: 40px;
		font-family: font-family: 'Poppins', sans-serif;
		font-weight: 600 !important;
		background-color: #222222 !important;
		color: #ffffff !important;
	}
	/*section-10*/
	.company{
		padding: 20px 0 20px 12px!important;
	}
	.footer-content{
		margin-bottom: 20px;
		padding-top: 20px !important;
	}
